<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>grades</title>
  </head>
  <body>
    { "grades": [ { "id": "0101", "name": "Algorithmen und Datenstrukturen", "semester": "20171", "grade": "1,0",
    "credits": "5,0", "status": "Bestanden", "note": "-", "date": "2017/04/04" }, { "id": "0103", "name":
    "Computergrafik", "semester": "20172", "grade": "2,3", "credits": "5,0", "status": "Bestanden", "note": "-", "date":
    "2017/10/04" }, { "id": "0102", "name": "Logik", "semester": "20171", "grade": "5,0", "credits": "0,0", "status":
    "Nicht bestanden", "note": "Nicht erschienen", "date": "2017/04/09" } , {"id": "0201", "name": "Mobile App
    Development", "semester": "20171", "grade": "2,0", "credits": "0", "status": "Bestanden", "note": "-", "date":
    "2017/05/11"}, { "id": "0223", "name": "Software Engineering", "semester": "20172", "grade": "4,0", "credits":
    "2,5", "status": "Bestanden", "note": "-", "date": "2018/01/14" }, { "id": "0823", "name": "Schlüsselkompetenzen
    III", "semester": "20172", "grade": "1,7", "credits": "2,5", "status": "Bestanden", "note": "-", "date":
    "2018/02/02" } ] }
  </body>
</html>
